<input type="checkbox" id="menuTrigger">
<nav class="menu">
  <label for="menuTrigger" class="trigger">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
  </label>
  <ul class="links">
    <li class="link"><a href="#home">Home</a></li>
    <li class="link"><a href="#about">Quem Sou Eu?</a></li>
    <li class="link"><a href="#portfolio">O que faço?</a></li>
    <li class="link"><a href="#hobbies">Hobbies</a></li>
    <li class="link"><a href="#contact">Contactos</a></li>
  </ul>
</nav>

<section id="home">
  <div class="absolute-center">
    <div id="avatar">
      <img src="https://scontent-lis1-1.xx.fbcdn.net/v/t1.6435-9/87953797_3300099443338217_8861455977707208704_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=TpOUs3ycdhcAX-MiTHf&tn=8Pt9bNgcAoGu7xxH&_nc_ht=scontent-lis1-1.xx&oh=00_AfAJloEgpy15E2vZG-6oMoWSTZBvcGhkdiH5zrjxFf8rnw&oe=63949182" alt="Filipe Ferreira">
    </div>
    <div id="myName">Filipe Ferreira</div>
    <div id="myCh">Software Developer</div>
  </div>
</section>

<section id="about">

  <div class="container content">
    <div class="animated">
      <h2>Quem Sou Eu?</h2>
      <p>
        O meu nome Filipe Ferreira, tenho 26 e sou natural de Vila Real 
      </p>
    </div>
  </div>
</section>

<section id="portfolio">
    <div class="container content">
        <div class="animated">
          <h2>O que faço?</h2>
          <p>
            Faço cenas
          </p>
        </div>
      </div>
</section>

<section id="hobbies">
    <div class="container content">
        <div class="animated">
          <h2>Hobbies</h2>
          <p>
           Gosto de gastar uns pneus e umas gasolinas
          </p>
        </div>
      </div>
  </section>

<section id="contact">
  <div class="content">
    <ul class="social-icons text-center">
      <li>
        <a target="_blank" href="https://facebook.com">
          <i class="fa fa-facebook"></i>
        </a>
      </li>

      <li>
        <a target="_blank" href="https://twitter.com">
          <i class="fa fa-twitter"></i>
        </a>
      </li>
      
    </ul>
    <div class="credit">CREATED BY FILIPE FERREIRA</div>
  </div>
</section>